* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;

  font-family: "BinancePlex", Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: initial;
}

ul li {
  list-style-type: none;
  position: relative;
}

button {
  outline: none;
  background: transparent;
  border: none;
  margin: 0;
  padding: 0;
  line-height: 0;
  cursor: pointer;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #9ca3af;
  opacity: 1;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #9ca3af;
  opacity: 1;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
  opacity: 1;
}

/* font settings */
@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("./static/fonts/BinancePlex-Light.woff2") format("woff2"),
    url("./static/fonts/BinancePlex-Light.otf") format("opentype");
  font-weight: 200;
}

@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("./static/fonts/BinancePlex-Light.woff2") format("woff2"),
    url("./static/fonts/BinancePlex-Light.otf") format("opentype");
  font-weight: 300;
}

@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("./static/fonts/BinancePlex-Regular.woff2") format("woff2"),
    url("./static/fonts/BinancePlex-Regular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("./static/fonts/BinancePlex-Medium.woff2") format("woff2"),
    url("./static/fonts/BinancePlex-Medium.otf") format("opentype");
  font-weight: 500;
}

@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("./static/fonts/BinancePlex-SemiBold.woff2") format("woff2"),
    url("./static/fonts/BinancePlex-SemiBold.otf") format("opentype");
  font-weight: 600;
}

@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("./static/fonts/BinancePlex-SemiBold.woff2") format("woff2"),
    url("./static/fonts/BinancePlex-SemiBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "BinancePlex";
  font-display: swap;
  src: url("./static/fonts/BinancePlex-SemiBold.woff2") format("woff2"),
    url("./static/fonts/BinancePlex-SemiBold.otf") format("opentype");
  font-weight: 800;
}

/* Custom style */

:root {
  --color-line: #eaecef;
  --color-text-primary: #1e2329;
  --color-text-secondary: #474d57;
  --color-text-brand: #c99400;
  --color-text-disabled: #b7bdc6;
  --color-text-third: #707a8a;
  --color-text-white: #fff;
  --color-text-black: #0b0e11;

  --color-popup-bg: #fff;
  --color-input-line: #d8dce1;

  --radii-circle: 100em;
  --radii-m: 8px;

  --zindex-drawer: 9999;

  --shadow-shadow2: 0px 0px 1px rgba(24, 26, 32, 0.1),
    0px 7px 14px rgba(71, 77, 87, 0.08), 0px 3px 6px rgba(24, 26, 32, 0.08);
}

body {
  --scroll-pad: 1px;
  --scroll-size: 6px;
  --scroll-bg: var(--color-popup-bg);
  --scroll-color: var(--color-text-disabled);

  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

@media screen and (min-width: 768px) {
  body {
    --scroll-pad: 2px;
    --scroll-size: 10px;
  }
}

body ::-webkit-scrollbar,
body::-webkit-scrollbar {
  border-radius: 0 var(--radii-circle) var(--radii-circle) 0;

  background-color: var(--scroll-bg);
  height: var(--scroll-size);
  width: var(--scroll-size);
}

body ::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-color: var(--scroll-bg);
  border-radius: var(--radii-circle);
  border-style: solid;
  border-width: var(--scroll-pad);
}

.temp-content {
  height: 80vh;
}

.footer {
  padding: 48px 16px;
  background-color: #fff;
}

@media screen and (min-width: 768px) {
  .footer {
    padding: 64px 24px;
  }
}

.footer-copyright {
  margin-top: 48px;
}

.footer-copyright-line {
  width: 100%;
  height: 1px;
  background-color: var(--color-line);
}

.footer-copyright-content {
  margin-top: 16px;
  color: var(--color-text-secondary);

  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  text-align: center;
}

.footer-copyright-cookie {
  cursor: pointer;
}

.footer-copyright-cookie:hover {
  color: var(--color-text-brand);
}

@media screen and (min-width: 768px) {
  .footer-copyright-content {
    font-size: 14px;
    line-height: 20px;

    display: flex;
    flex-direction: row;
    gap: 24px;

    justify-content: center;
  }
}

.footer-content {
  display: flex;
  flex-direction: column-reverse;
}

@media screen and (min-width: 1024px) {
  .footer-content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-column-gap: 24px;
  }
}

.footer-community {
  margin-top: 48px;
}

.footer-community-title {
  font-size: 16px;
  line-height: 32px;
  font-weight: 500;
}

.footer-community-lists .footer-icon {
  color: var(--color-text-primary);

  font-size: 24px;
  width: 24px;
  height: 24px;
}

.footer-community-lists {
  display: grid;
  grid-template-columns: repeat(auto-fill, 24px);
  grid-gap: 24px;
  margin-top: 18px;
}

.footer-community-settings {
  margin-top: 48px;

  display: flex;
  flex-direction: row;
  gap: 40px;
}

@media screen and (min-width: 1024px) {
  .footer-community {
    margin-top: 0px;
  }

  .footer-community-lists {
    grid-template-columns: repeat(4, 24px);
  }

  .footer-community-settings {
    flex-direction: column;
    gap: 16px;
  }
}

.footer-community-settings .setting-item {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  color: var(--color-text-primary);

  position: relative;
}

.footer-community-settings .setting-item .setting-item-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;

  width: max-content;
  cursor: pointer;
}

.footer-community-settings .bn-svg {
  width: 24px;
  height: 24px;
}

.btn-switch {
  background: var(--color-line);
  border-radius: var(--radii-circle);

  height: 24px;
  width: 44px;

  padding: 2px;

  transition: background-color 0.15s ease-in-out;
}

.btn-switch-icon {
  height: 20px;
  width: 20px;
  background-color: var(--color-text-white);
  border-radius: var(--radii-circle);

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.btn-switch-icon svg {
  width: 16px;
  height: 16px;
  color: var(--color-text-black);
}

.footer-navlist-group {
  margin-top: 16px;
}

.footer-navlist-sub {
  margin-top: 16px;
}

.footer-navlist-sub:nth-child(1) {
  margin-top: 0px;
}

.footer-navlist-sub .footer-navlist-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 32px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  cursor: pointer;
}

.footer-navlist-expand-icon {
  display: block;
  padding: 8px;
}

.footer-navlist-expand-icon svg {
  color: var(--color-text-primary);

  width: 16px;
  height: 16px;
}

.bn-svg-open {
  display: block;
}

.bn-svg-close {
  display: none;
}

.footer-navlist-items {
  margin-top: 16px;

  display: none;
}

.footer-navlist-items .footer-navlist-item {
  padding: 0 24px;

  margin-top: 16px;
}

.footer-navlist-items .footer-navlist-item:nth-child(1) {
  margin-top: 0;
}

.footer-navlist-link {
  color: var(--color-text-primary);

  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}

@media screen and (min-width: 768px) {
  .footer-navlist {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 24px;
  }

  .footer-navlist-group {
    margin-top: 0;
  }

  .footer-navlist-sub {
    margin: 0;
  }

  .footer-navlist-sub + .footer-navlist-sub {
    margin-top: 40px;
  }

  .footer-navlist-expand-icon {
    display: none;
  }

  .footer-navlist-items {
    display: block;
  }

  .footer-navlist-items .footer-navlist-item {
    margin-top: 8px;
    padding: 0;
  }
}

.footer-navlist-link:hover {
  color: var(--color-text-brand);
}

.footer-navlist-sub.open .footer-navlist-items {
  display: block;
}

.footer-navlist-sub.open .bn-svg-open {
  display: none;
}

.footer-navlist-sub.open .bn-svg-close {
  display: block;
}

/* setting combo box */

.open-drawer {
  overflow: hidden;
}

.mobile-setting-drawer {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: var(--zindex-drawer);

  max-width: 100vw;
  max-height: 100vh;

  transition: all 250ms ease-in-out;
  opacity: 0;
  visibility: hidden;
}

.lngAndCurrency-drawer {
  width: 100%;
  height: 100%;
  background-color: #fff;

  padding: 24px;
  padding-top: 0;

  transform: translate3d(0, -100%, 0);
  transition: transform 250ms ease-in;
}

.mobile-setting-drawer.open {
  opacity: 1;
  visibility: visible;
}

.mobile-setting-drawer.open .lngAndCurrency-drawer {
  transform: translateZ(0);
}

.lngAndCurrent-drawer-header {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.lngAndCurrent-drawer-header .bn-svg {
  width: 20px;
  height: 20px;
}

.lngAndCurrency-drawer-content {
  display: grid;
  grid-template-columns: 3fr 2fr;
}

.drawer-sub-content.drawer-currency-content {
  padding-inline-start: 24px;
  padding-inline-end: 14px;
}

.drawer-sub-content.drawer-language-content {
  padding-inline-end: 24px;
}

.drawer-sub-content {
  overflow-y: scroll;
  max-height: calc(100vh - 88px);
  --scroll-color: var(var(--color-line));
}

.drawer-sub-content .select-search-header {
  color: var(--color-text-third);

  font-size: 14px;
  font-weight: 400;
  line-height: 22px;

  margin-bottom: 16px;
}

.drawer-sub-content .select-search-data .select-option {
  margin-top: 16px;

  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.drawer-sub-content .select-search-data .select-option.active {
  color: var(--color-text-brand);
}

.search-box {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;

  width: 100%;
  padding: 0 12px;
  border: 1px solid var(--color-input-line);

  border-radius: var(--radii-m);

  height: 32px;
}

@media screen and (min-width: 678px) {
  .footer-community-settings .setting-item.active span {
    color: var(--color-text-brand);
  }

  .footer-community-settings .setting-item.active .bn-bubble {
    opacity: 1;
    visibility: visible;
  }
}

.bn-bubble {
  transform: translate(0px, 0px);

  background-color: #fff;

  opacity: 0;
  visibility: hidden;
  position: absolute;

  bottom: 100%;
  left: 0;

  z-index: var(--zindex-drawer);
  transition: all 250ms ease-in-out;

  display: flex;
}
.bn-bubble-layer {
  margin-bottom: 4px;
  box-shadow: var(--shadow-shadow2);
  border-radius: var(--radii-m);
  overflow: hidden;
}

.bn-bubble .bn-bubble-content {
  width: 200px;
  margin: 16px;
}

.bn-bubble .select-search-data {
  height: 288px;

  margin-top: 16px;

  overflow-y: auto;
  --scroll-pad: 2px;
  --scroll-size: 10px;
}

.bn-bubble .select-search-data .select-option {
  margin-top: 16px;

  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
}

.bn-bubble .select-search-data .select-option:nth-child(1) {
  margin-top: 0;
}

.bn-bubble .select-search-data .select-option.active {
  color: var(--color-text-brand);
}
