* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: initial;
}

ul li {
  list-style-type: none;
  position: relative;
}

/* local style */

.main-container {
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Resizable box */

.resizable-box {
  width: 50px;
  height: 50px;

  border: 1px solid gray;

  position: relative;
}

.resizable-straight {
  position: absolute;

  background: red;
}

.resizable-straight:hover {
  background: yellow;
}

.resizable-straight.rs-horizontal {
  height: 100%;
  width: 2px;

  cursor: w-resize;
}

.resizable-straight.rs-horizontal.left {
  left: -4px;
}

.resizable-straight.rs-horizontal.right {
  right: -4px;
}

.resizable-straight.rs-vertical {
  width: 100%;
  height: 2px;

  cursor: n-resize;
}

.resizable-straight.rs-vertical.top {
  top: -4px;
}

.resizable-straight.rs-vertical.bottom {
  bottom: -4px;
}

/* Grid box */

.container-grid-box {
  width: 50vw;
  height: 50vh;
  border: 1px solid red;
  padding: 8px;
  border-radius: 8px;
  overflow: hidden;

  display: flex;
  align-items: center;
}

.grid-container {
  background: yellow;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  width: 100%;
  justify-content: center;
}

.grid-item {
  aspect-ratio: 16/9;
  width: 100%;
  background: green;

  border-radius: 4px;

  max-width: var(--item-max-width, 178px);
}
